body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 16px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

.body-content h2 {
        color: #a9a9d0
}
.navbar-inverse {
    background-color: #2e5680;
    border-color: #544b4b;
}

.navbar li a {
    color: white !important;
    font-size: 16px;
}

.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #2e5680;
    border-color: #544b4b;
}

.navbar li a {
color: white !important;
font-size: 16px;
}

.navbar-brand {
    color: whitesmoke !important;
    font-size: 26px;
    font-weight: bold;
}