body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 16px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

.body-content h2 {
        color: #a9a9d0;
        font-family: Bahnschrift Light !important;
}

tbody tr {
    border: 2px solid #a1d7f1;
    font-family: Colonna MT;
    font-size: 22px;
}

 tbody tr td {
        font-family: Courier New;
        font-size: 16px;
}

tbody tr td a {
        color:#241b79
}

.navbar-inverse {
    background-color: #2e5680;
    border-color: #544b4b;
}

.navbar li a {
    color: white !important;
    font-size: 16px;
}

.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #2e5680;
    border-color: #544b4b;
}

.navbar li a {
color: white !important;
font-size: 16px;
}

.navbar-brand {
    color: whitesmoke !important;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}

.row {
    font-family: Comic Sans MS;
}
.jumbotron p {
    font-family: Copperplate Gothic Bold;
    color:red;
    font-style: italic;
}

.jumbotron h1 {
    color: indianred;
    font-family: Copperplate Gothic Bold;
}
