@{
    ViewBag.Title = "MyCompany";
}

<div class="jumbotron">
    <h1>MyCompany</h1>
    <p class="lead">Company always require to mange itself. So here it is.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Branch</h2>
        <p>
            Company contains many number of branches. It is establishing throught canada. You can view the branches avilabel below.
        </p>
         @Html.ActionLink("Branches", "Index", "Branches")
    </div>
    <div class="col-md-4">
        <h2>Manager</h2>
        <p>Every company has good set of manger who handel the team to work and grow faster. here we have the set of manger below.</p>
        @Html.ActionLink("Managers", "Index", "Managers")
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Employes is one of the most important priority for company. They must be taken care properly. here is the list of Employee below.</p>
        @Html.ActionLink("Employes", "Index", "Employes")
    </div>
</div>